In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats as stats
from statsmodels.stats.proportion import proportions_ztest
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)


churn = pd.read_csv('churn.csv', index_col=0)

In [2]:
churn

,account length,international plan,number vmail messages,total day calls,total day charge,total eve calls,total eve charge,total night calls,total night charge,total intl calls,total intl charge,customer service calls,churn,top user states
0,128,0,25,110,45.07,99,16.78,91,11.01,3,2.70,1,0,1
1,107,0,26,123,27.47,103,16.62,103,11.45,3,3.70,1,0,1
2,137,0,0,114,41.38,110,10.30,104,7.32,5,3.29,0,0,1
3,84,1,0,71,50.90,88,5.26,89,8.86,7,1.78,2,0,1
4,75,1,0,113,28.34,122,12.61,121,8.41,3,2.73,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,0,36,77,26.55,126,18.32,83,12.56,6,2.67,2,0,0
3329,68,0,0,57,39.29,55,13.04,123,8.61,4,2.59,3,0,1
3330,28,0,0,109,30.74,58,24.55,91,8.64,6,3.81,2,0,1
3331,184,1,0,105,36.35,84,13.57,137,6.26,10,1.35,2,0,1
3332,74,0,25,113,39.85,82,22.60,77,10.86,4,3.70,0,0,0

In [3]:
X = churn.drop('churn', axis = 1)
y = churn.churn

In [4]:
X

,account length,international plan,number vmail messages,total day calls,total day charge,total eve calls,total eve charge,total night calls,total night charge,total intl calls,total intl charge,customer service calls,top user states
0,128,0,25,110,45.07,99,16.78,91,11.01,3,2.70,1,1
1,107,0,26,123,27.47,103,16.62,103,11.45,3,3.70,1,1
2,137,0,0,114,41.38,110,10.30,104,7.32,5,3.29,0,1
3,84,1,0,71,50.90,88,5.26,89,8.86,7,1.78,2,1
4,75,1,0,113,28.34,122,12.61,121,8.41,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,0,36,77,26.55,126,18.32,83,12.56,6,2.67,2,0
3329,68,0,0,57,39.29,55,13.04,123,8.61,4,2.59,3,1
3330,28,0,0,109,30.74,58,24.55,91,8.64,6,3.81,2,1
3331,184,1,0,105,36.35,84,13.57,137,6.26,10,1.35,2,1
3332,74,0,25,113,39.85,82,22.60,77,10.86,4,3.70,0,0

# KNN

## N-Neighbor = 1

In [5]:
from sklearn.model_selection import train_test_split
X_trainknn, X_testknn, y_trainknn, y_testknn = train_test_split(X, y, random_state=1)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()  
scaler.fit(X_trainknn)

X_trainknn = scaler.transform(X_trainknn)  
X_testknn = scaler.transform(X_testknn)

In [7]:
from sklearn.neighbors import KNeighborsClassifier

In [8]:
knn = KNeighborsClassifier(n_neighbors=1)

In [9]:
knn.fit(X_trainknn, y_trainknn)

KNeighborsClassifier(n_neighbors=1)

In [10]:
y_pred_class = knn.predict(X_testknn)

In [11]:
from sklearn import metrics
print('Accuracy:' + str(metrics.accuracy_score(y_testknn, y_pred_class)))

Accuracy:0.8501199040767387

In [12]:
1-y.mean()

0.8550855085508551

In [13]:
metrics.precision_score(y_testknn, y_pred_class)

0.48623853211009177

In [14]:
metrics.recall_score(y_testknn, y_pred_class)

0.4344262295081967

In [15]:
print('F-Score:' + str(metrics.f1_score(y_testknn, y_pred_class)))

F-Score:0.4588744588744589

## N-Neighbor = 20

In [16]:
X_trainknn20, X_testknn20, y_trainknn20, y_testknn20 = train_test_split(X, y, random_state=1)

scaler = StandardScaler()  
scaler.fit(X_trainknn20)

X_trainknn20 = scaler.transform(X_trainknn20)  
X_testknn20 = scaler.transform(X_testknn20)


knn20 = KNeighborsClassifier(n_neighbors=20)

knn20.fit(X_trainknn20, y_trainknn20)

y_pred_class20 = knn20.predict(X_testknn20)

print('Accuracy:' + str(metrics.accuracy_score(y_testknn20, y_pred_class20)))

1-y.mean()

print(metrics.precision_score(y_testknn20, y_pred_class20))

print(metrics.recall_score(y_testknn20, y_pred_class20))

Accuracy:0.8621103117505995
0.6842105263157895
0.10655737704918032

In [17]:
print('F-Score:' + str(metrics.f1_score(y_testknn20, y_pred_class20)))

F-Score:0.18439716312056736

## N-Neighbor = 10

In [18]:
X_trainknn10, X_testknn10, y_trainknn10, y_testknn10 = train_test_split(X, y, random_state=1)

scaler = StandardScaler()  
scaler.fit(X_trainknn10)

X_trainknn10 = scaler.transform(X_trainknn10)  
X_testknn10 = scaler.transform(X_testknn10)

knn10 = KNeighborsClassifier(n_neighbors=10)

knn10.fit(X_trainknn10, y_trainknn10)

y_pred_class10 = knn10.predict(X_testknn10)

print('Accuracy:' + str(metrics.accuracy_score(y_testknn10, y_pred_class10)))

1-y.mean()

print(metrics.precision_score(y_testknn10, y_pred_class10))

print(metrics.recall_score(y_testknn10, y_pred_class10))

Accuracy:0.8693045563549161
0.782608695652174
0.14754098360655737

In [19]:
print('F-Score:' + str(metrics.f1_score(y_testknn10, y_pred_class10)))

F-Score:0.24827586206896549

## N-Neighbor = 5

In [20]:
X_trainknn5, X_testknn5, y_trainknn5, y_testknn5 = train_test_split(X, y, random_state=1)

scaler = StandardScaler()  
scaler.fit(X_trainknn5)

X_trainknn5 = scaler.transform(X_trainknn5)  
X_testknn5 = scaler.transform(X_testknn5)


knn5 = KNeighborsClassifier(n_neighbors=5)

knn5.fit(X_trainknn5, y_trainknn5)

y_pred_class5 = knn5.predict(X_testknn5)

print('Accuracy:' + str(metrics.accuracy_score(y_testknn5, y_pred_class5)))

1-y.mean()

print(metrics.precision_score(y_testknn5, y_pred_class5))

print(metrics.recall_score(y_testknn5, y_pred_class5))

Accuracy:0.882494004796163
0.7307692307692307
0.3114754098360656

In [21]:
print('F-Score:' + str(metrics.f1_score(y_testknn5, y_pred_class5)))

F-Score:0.4367816091954023

## N-Neighbor = 3

In [22]:
X_trainknn3, X_testknn3, y_trainknn3, y_testknn3 = train_test_split(X, y, random_state=1)

scaler = StandardScaler()  
scaler.fit(X_trainknn3)

X_trainknn3 = scaler.transform(X_trainknn3)  
X_testknn3 = scaler.transform(X_testknn3)


knn3 = KNeighborsClassifier(n_neighbors=3)

knn3.fit(X_trainknn3, y_trainknn3)

y_pred_class3 = knn3.predict(X_testknn3)


print('Accuracy:' + str(metrics.accuracy_score(y_testknn3, y_pred_class3)))

1-y.mean()

print(metrics.precision_score(y_testknn3, y_pred_class3))

print(metrics.recall_score(y_testknn3, y_pred_class3))

Accuracy:0.8788968824940048
0.6521739130434783
0.36885245901639346

In [23]:
print('F-Score:' + str(metrics.f1_score(y_testknn3, y_pred_class3)))

F-Score:0.4712041884816754

In [44]:
import pickle
mod = open('knn3.pkl', 'wb')
pickle.dump(knn3, mod)
mod.close()

## Grid-Search

In [34]:
from sklearn.model_selection import GridSearchCV
X_trainknngs, X_testknngs, y_trainknngs, y_testknngs = train_test_split(X, y, random_state=1)

scaler = StandardScaler()  
scaler.fit(X_trainknngs)

X_trainknngs = scaler.transform(X_trainknngs)  
X_testknngs = scaler.transform(X_testknngs)


final_knn = KNeighborsClassifier()

knn_params = {
    'n_neighbors': range(1,50,1),
    'weights': ['uniform', 'distance'],
    'metric': ['minkowski', 'euclidean', 'manhattan'],
}

In [35]:
knn_gs = GridSearchCV(final_knn, knn_params,scoring='f1',verbose = 1, cv = 3, n_jobs=-2)

In [36]:
knn_gs.fit(X_trainknngs,y_trainknngs)

Fitting 3 folds for each of 294 candidates, totalling 882 fits

[Parallel(n_jobs=-2)]: Using backend LokyBackend with 11 concurrent workers.
[Parallel(n_jobs=-2)]: Done  28 tasks      | elapsed:    2.0s
[Parallel(n_jobs=-2)]: Done 470 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-2)]: Done 882 out of 882 | elapsed:    7.2s finished

GridSearchCV(cv=3, estimator=KNeighborsClassifier(), n_jobs=-2,
             param_grid={'metric': ['minkowski', 'euclidean', 'manhattan'],
                         'n_neighbors': range(1, 50),
                         'weights': ['uniform', 'distance']},
             scoring='f1', verbose=1)

In [37]:
knn_gs.best_score_

0.45158725029004376

In [38]:
knn_gs.best_estimator_

KNeighborsClassifier(n_neighbors=6, weights='distance')

In [39]:
knn_gs.best_params_

{'metric': 'minkowski', 'n_neighbors': 6, 'weights': 'distance'}

In [40]:
y_predsknngs=knn_gs.best_estimator_.predict(X_testknngs)
f1_score=metrics.f1_score(y_testknngs,y_predsknngs)

In [41]:
f1_score

0.42774566473988446

In [42]:
knn_gs.n_features_in_

13

In [43]:
print(metrics.recall_score(y_testknngs, y_predsknngs))

0.30327868852459017